#slider {
    border-radius: 5px;
border: 1px solid #ADADAD;
background: linear-gradient(0deg, rgba(173, 173, 173, 0.20) 0%, rgba(173, 173, 173, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
grid-column: 1 / span 4;
    max-width: 100%;
    max-height: 100%;
       
}

.infobox {
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    border-radius: 5px;
    border: 1px solid rgba(173, 173, 173, 0.60);
}
.infobox h1 {
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: center;
    margin-top: 0px;
    
}
.infobox img {
    justify-self: center;
    align-self: center;
    max-height: 200px;
    max-width: 100%;
    border-radius: 2px;
    border: 1px solid #ADADAD;
    background: linear-gradient(0deg, rgba(173, 173, 173, 0.20) 0%, rgba(173, 173, 173, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;

}

#bilde1 {grid-column: 1;}
#bilde2 {grid-column: 2;}

.infobox h3 {grid-row: 3;
grid-column: 1;
align-self: center;
justify-self: start;}


.infobox .button1 { 
grid-row: 3;
grid-column: 1;
position: relative;
align-self: center;
justify-self: end;

}

.infobox .dropdown {align-self: center;
    justify-self: center;}


.specifications {
    grid-column: 1 / span 2;
    margin: 2%;
    }
.specifications p {margin-top: 2%;}



.description {grid-column: 3 / span 2;
    margin-top: 2%;
    }

#similarproducts {
    
    grid-column: 1 / span 4;
}
.similarproduct {grid-row: 4;
grid-column-start:auto;}
    
    


@media only screen and (min-width: 600px)  {

    #slider {grid-column: 1 / span 2;
    max-width: 90%;}
    
    .infobox {
        grid-column: 3 / span 2;
    }
    
    .infobox h3 {
        align-self: start;
        justify-self: center;
        font-size: 2rem;
    }
        
        
        .infobox .button1 { 
        align-self: end;
        justify-self: center;
        margin-bottom: 5%;


}


@media only screen and (min-device-width: 600px) and (max-device-width: 850px)
 {.infobox h3 {font-size: 1.5rem;
}

.infobox .button1 { 
    align-self: end;
    justify-self: center;
    margin-top: 15%;


 }
 }}